.padawan {
  padding:40px;
}

.border {
  border: 5px solid #000;
}

.yellow {
  background-color: yellow;
}

.blue {
  background-color: blue;
  height: 150px;
}

.green {
  background-color: green;
  height: 75px;
}

.red {
  background-color: red;
  height: 200px;
}

.lightblue {
  background-color: lightblue;
  height: 200px;
}

.orange {
  background-color: orange;
  height: 125px;
}

.black {
  background-color: black;
  color: white;
  height:50px;
}

@media only screen and (max-width: 768px) {
  .yellow {
    background-color: #FFFFFF;
  }

  .blue {
    background-color: cyan;
  }

  .green  {
    background-color: magenta;
  }

  .red {
    background-color: lightblue;
  }

  .lightblue {
    background-color: red;
  }

  .orange {
    background-color: blue;
  }

  .black {
    background-color: purple;
    color: cyan;
  }
}

@media only screen and (min-width: 875px) {
  .yellow {
    background-color: purple;
  }

  .blue {
    background-color: red;
  }

  .green  {
    background-color: blue;
  }

  .red {
    background-color: green;
  }

  .lightblue {
    background-color: orange;
  }

  .orange {
    background-color: yellow;
  }

  .black {
    background-color: #ffffff;
    color: #000;
  }
}
